@using PlasterSkull.Framework.Blazor.Demo.Pages.ContextMenu.Components

@inherits PsComponentBase

<PageTitle>Home</PageTitle>

<div @attributes="UserAttributes"
     style="@StyleName"
     class="@ClassName page d-flex flex-column">

    <ExampleContainer CodeSource="@nameof(BasicContextMenuExample)">
        <ExampleInfoContent>

        </ExampleInfoContent>
        <DemoContent>
            <BasicContextMenuExample />
        </DemoContent>
    </ExampleContainer>
   
</div>