@using PlasterSkull.Framework.Blazor.Demo.Pages.ContextMenu.Components

@inherits PsComponentBase

<PageTitle>Home</PageTitle>

<div @attributes="UserAttributes"
     style="@StyleName"
     class="@ClassName page d-flex flex-column">

    <MudContainer MaxWidth="MaxWidth.Large">
        <ExampleContainer CodeSource="@nameof(BasicContextMenuExample)">
            <ExampleInfoContent>
                <MudText>
                    Basic Usage
                </MudText>
            </ExampleInfoContent>
            <DemoContent>
                <BasicContextMenuExample />
            </DemoContent>
        </ExampleContainer>
    </MudContainer>

</div>