@using PlasterSkull.Framework.Blazor.Demo.Pages.ContextMenu.Components

@inherits PsComponentBase

<PageTitle>Home</PageTitle>

<div @attributes="UserAttributes"
     style="@StyleName"
     class="@ClassName page d-flex flex-column">
    <BasicContextMenuExample />
</div>