@namespace PlasterSkull.Framework.Blazor

@inherits PsComponentBase

<div id="@TagId"
     class="@ClassName"
     style="@StyleName"
     @attributes="UserAttributes">
    <MudSwipeArea Sensitivity="50"
                  OnSwipeEnd="OnSwipeEnd">
        <CascadingValue Value="this" IsFixed="true">
            @foreach (var observer in _contextMenuObservers)
            {
                <PsRender @key="observer.Options.CallerId">
                    <PsContextMenuInstance Options="observer.Options"
                                           ChildContent="observer.MenuContent" />
                </PsRender>
            }
        </CascadingValue>
    </MudSwipeArea>
</div>

