@namespace PlasterSkull.Framework.Blazor

@inherits PsComponentBase

<div @ref="_selfRef"
     class="@ClassName"
     style="@StyleName"
     tabindex="-1"
     @attributes="UserAttributes"
     @onkeydown="OnKeyPress"
     @ontouchstart:stopPropagation="true"
     @ontouchend:stopPropagation="true"
     @ontouchcancel:stopPropagation="true">
    <CascadingValue Value="this" IsFixed="true">
        @if (_isMobileSize)
        {
            <div class="swipe-button"></div>
        }

        @if (Options.ShowMobileHeader && !Options.Title.IsNullOrEmpty())
        {
            <PsBreakpointResolver>
                <Mobile>
                    <MudStack Row="true"
                              AlignItems="AlignItems.Center"
                              Justify="Justify.Center"
                              Class="mud-primary-lighten py-2">
                        <MudText Typo="Typo.h4"
                                 Color="Color.Primary">
                            @Options.Title
                        </MudText>
                    </MudStack>
                </Mobile>
            </PsBreakpointResolver>
        }

        @ChildContent
    </CascadingValue>
</div>

<MudOverlay Visible="true"
            AutoClose="true"
            DarkBackground="_isMobileSize"
            ZIndex="_overlayZIndex"
            OnClosed="OnOverlayClosed"
            Class="@MenuOverlayClassName" />