<PsContextMenuTrigger>
    <ChildContent>
        <div class="ma-4 pa-2 border">
            Right-click on this text to show a context menu
        </div>
    </ChildContent>
    <MenuContent>
        <PsContextMenuItem Text="Test button 1" />
        <PsContextMenuItem Text="Test button 2" />
        <PsContextSubMenuItem Text="Test button 3 (Sub menu)">
            <MenuContent>
                <PsContextSubMenuItem Text="Test button 3.1 (Sub menu)">
                    <MenuContent>
                        <PsContextMenuItem Text="Test button 3.1.1" />
                        <PsContextMenuItem Text="Test button 3.1.2" />
                    </MenuContent>
                </PsContextSubMenuItem>
                <PsContextMenuItem Text="Test button 3.2" />
            </MenuContent>
        </PsContextSubMenuItem>
        <PsContextMenuItem Text="Test button 3" />
        <PsContextMenuItem Text="Test button 4" />
        <PsContextMenuItem Text="Test button 5" />
    </MenuContent>
</PsContextMenuTrigger>