@inherits PsComponentBase

<div @attributes="UserAttributes"
     style="@StyleName"
     class="@ClassName page d-flex flex-column">
    <ExampleContainer>
        <ExampleInfoContent>

        </ExampleInfoContent>
        <DemoContent>
            @DemoContent
        </DemoContent>
        <CodeContent>

        </CodeContent>
    </ExampleContainer>
</div>

@code {
    private RenderFragment DemoContent =>
    @<div>
        <PsContextMenuTrigger ActivationEvent="PsContextMenuActivateBehavior.MouseLeftClick">
            <ChildContent>
                <button>click</button>
            </ChildContent>
            <MenuContent>
                <PsContextMenuItem Text="Test button 1" />
                <PsContextMenuItem Text="Test button 2" />
                <PsContextSubMenuItem Text="Test button 3 (Sub menu)">
                    <MenuContent>
                        <PsContextMenuItem Text="Test button 3.1" />
                        <PsContextMenuItem Text="Test button 3.2" />
                    </MenuContent>
                </PsContextSubMenuItem>
                <PsContextMenuItem Text="Test button 3" />
                <PsContextMenuItem Text="Test button 4" />
                <PsContextMenuItem Text="Test button 5" />
            </MenuContent>
        </PsContextMenuTrigger>
    </div>;
}