@inherits PsComponentBase

<PsContextMenuTrigger ActivationEvent="PsContextMenuActivateBehavior.MouseLeftClick">
    <ChildContent>
       <div class="w-min-content ma-4 pa-2 border">
           Click here!
       </div>
    </ChildContent>
    <MenuContent>
        <PsContextMenuItem Text="Test button 1" />
        <PsContextMenuItem Text="Test button 2" />
        <PsContextSubMenuItem Text="Test button 3 (Sub menu)">
            <MenuContent>
                <PsContextMenuItem Text="Test button 3.1" />
                <PsContextMenuItem Text="Test button 3.2" />
            </MenuContent>
        </PsContextSubMenuItem>
        <PsContextMenuItem Text="Test button 3" />
        <PsContextMenuItem Text="Test button 4" />
        <PsContextMenuItem Text="Test button 5" />
    </MenuContent>
</PsContextMenuTrigger>